.windowLayoutContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #2D3032;
    color: white;
    overflow: hidden;
}

.topContainer {
    display: flex;
    flex-grow: 1;
}

.contents {
    display: grid;
    place-items: center;
    transition: filter 0.2s ease-out, background-color 0.2s ease-out;
    font-size: 16px;
}

.fileContent {
    place-items: start !important;
}

/* .shrink-0 {
    flex-shrink: 0;
} */